
{{define "head"}}
    <style>
        
        .btn {
            white-space: normal !important;
            word-wrap: break-word;
            max-width: 150px;
        }    
    </style>
{{end}}

{{define "content"}}
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <a class="navbar-brand" href="#"> {{ .pageName }} </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Spaces
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .spaces }}
                        <li><a class="dropdown-item" href="/loadPage?page={{.}}">{{. }}</a> </li>
                      
                      {{ end}}
                    </ul>
                  </li>


             
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row w-100">
            {{$page:=.pageName }}
            {{ range .data.Spaces }}
            <div class="card" >
                <div class=" card-header d-flex justify-content-between">
                    {{ .Space }}
                    {{if .More.Link }}
                        <a href="/details?page={{ $page }}&ID={{ .ID }}" class="btn btn-secondary btn-sm "> &gt;&gt; </a>
                    {{end}}
                </div>

                <div class="card-body ">
                    {{if .Text }}
                    <p class="card-text ">{{ .Text }}</p>
                    {{end}} {{if .Markdown }}
                    <p class="card-text Markdown ">
                        {{ call $.genMarkdown .Markdown }}
                    </p>
                    {{end}}

                    <!-- Handle Links -->
                    {{ range .Links }}
                    <ul class="list-group">
                        {{if .Comment }}
                        <li class="list-group-item">{{ .Comment }} </li>
                        {{end}}
                        <li class="list-group-item">
                            <a href="{{ .Link }} " target=" _blank " class=" {{ $.config.ButtonClasses }} ">{{ .Text }}</a>
                        </li>
                    </ul>
                    {{ end }}


                </div>
            </div>
            {{ end }}

        </div>
    </div>

{{end}}