
{{define "head"}}   

{{end}}

  
{{define "content"}}
   
    <div class="container text-center">
        <div class="row">
            {{$page:=.pageName }}
            {{ range .data.Spaces }}
                <div class="card col-3" >
                    <div class=" card-header d-flex justify-content-between">
                        {{ .Space }}
                        {{if .HasEmbeds }}                            
                            <a href="/details?page={{ $page }}&ID={{ .ID }}" class="btn btn-secondary btn-sm ">  &gt;&gt; </a>                           
                        {{end}}
                    </div>

                    <div class="card-body ">
                        {{if .Text }}
                        <p class="card-text ">{{ .Text }}</p>
                        {{end}} {{if .Markdown }}
                        <p class="card-text Markdown ">
                            {{ call $.genMarkdown .Markdown }}
                        </p>
                        {{end}}


                        {{$spaceID:=.ID }}
                        <!-- Handle Links -->
                        {{ range .Links }}
                        
                        <ul class="list-group">
                            {{if .Comment }}
                                 <li class="list-group-item">{{ .Comment }} </li>
                            {{end}}
                            <li class="list-group-item">
                                 <a href="{{ .Link }} " target=" _blank " class=" {{ $.config.ButtonClasses }} ">{{ .Text }}</a>
                            </li>
                        </ul>
                        {{ end }}


                    </div>
                </div>
            {{ end }}

        </div>
    </div>


{{end}}