
{{define "head"}}   

{{end}}

  
{{define "content"}}
   <div class="container-fluid h-100 ">
        <div class="row ">
            <div id="asd" class="card col-2 ">

                <div class=" card-header ">
                    {{ .space.Space }} <a href="/loadPage?page={{ .page }}" class="btn btn-secondary btn-sm "> &lt;&lt; </a>
                </div>
                <div class="card-body w-auto">

                    {{if .space.Text }}
                        <p class="card-text ">{{ .space.Text }}</p>
                    {{end}}
                    
                    {{if .space.Markdown }}
                        <p class="card-text Markdown ">
                            {{ call $.genMarkdown .space.Markdown }}
                        </p>
                    {{end}} 

                    {{ range .space.Links }}
                        
                        <ul class="list-group">
                            {{if .Comment }}
                                <li class="list-group-item">{{ .Comment }} </li>
                            {{end}}
                            <li class="list-group-item">
                                <a href="{{ .Link }} " target=" _blank " class=" {{ $.config.ButtonClasses }} ">{{ .Text }}</a>
                            </li>
                        </ul>
                    {{ end }}
        
                </div>
            </div>

            <div class="col-8 border" >

                    {{ if eq .space.More.Type "md" }}
                    <p class=" markdown "></p>
                        {{ call $.genMarkdown .space.More.Link }}
                    </p>                        
                    {{ end}}
                
                    {{ range .space.Links }}
                        
                    <ul class="list-group">
                        <div  class="ratio ratio-16x9 border">
                            <iframe src="{{ .Link }}" title=".Comment"></iframe>
                        </div>                        
                    </ul>
                    {{ end }}
            
                
                
            
        </div>
        </div>
       
    </div>

{{end}}