<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Divs - Resizeable</title>
        <style>
        .resizable {
            width: 120px;
            border-radius: 0.75rem;
            padding: 20px;
            margin: 1rem;
            background-color: rgb(144, 157, 167);
            color: white;
            font-size: 20px;
            font-family: sans-serif;
            overflow: hidden;

            touch-action: none;

            /* This makes things *much* easier */
            box-sizing: border-box;
            }
        .iframecell {
            padding: 10px;
            float: left;
            width: 50%;
            height: 50%;
        }
        iframe {            
            overflow: auto;
            width: 100%;
            height: 100%;
        }
        .fixed{
           width: 100px;
        }
        
        
       

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Primary</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Spaces
            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ range .spaces }}
                            <a class="dropdown-item" href="/loadPage?page={{.}}">{{. }}</a> {{ end}}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
                <div class="card col-1">
                    <div class=" card-header ">
                        {{ .space.Space }} <a href="/loadPage?page={{ .page }}" class="btn btn-secondary btn-sm "> &lt;&lt; </a>
                    </div>
                    <div class="card-body w-auto">

                        {{if .space.Text }}
                        <p class="card-text ">{{ .space.Text }}</p>
                        {{end}} {{if .space.Markdown }}
                        <p class="card-text Markdown ">
                            {{ call $.genMarkdown .space.Markdown }}
                        </p>
                        {{end}} {{ range .space.Links }}                   
                        <a href="{{ .Link }} " target=" _blank " class="btn btn-primary ">{{ .Text }}</a> {{ end }}
                    </div>
                </div>
                <div class="col border" >
                    <div style="display: table; border: 1px solid black;" width="100%" height="100%">
                        <div style="display: table-row" class="iframe">
                            <div  id="div1" style="display: table-cell;" class="iframecell resizable">
                                    <iframe src="https://echo.labstack.com/docs/middleware/cors" title="More.." ></iframe>
                            </div>
                            <div  id="div2" style="display: table-cell;" class="iframecell resizable">
                                <iframe src="https://echo.labstack.com/docs/middleware/cors" title="More.." ></iframe>
                            </div>
                    </div>
                    <div style="display: table-row" class="iframe">
                            <div id="div3" style="display: table-cell;" class="iframecell resizable">
                                <iframe src="https://echo.labstack.com/docs/middleware/cors" title="More.." ></iframe>
                            </div>
                            <div id="div4" style="display: table-cell;" class="iframecell resizable">
                                <iframe src="https://echo.labstack.com/docs/middleware/cors" title="More.." ></iframe>
                            </div>
                    </div>
                    
                </div>
        </div>                    
    
        <script type="module">
            /* https://interactjs.io/docs/resizable/ */

            import 'https://cdn.interactjs.io/v1.9.20/auto-start/index.js'
            import 'https://cdn.interactjs.io/v1.9.20/actions/drag/index.js'
            import 'https://cdn.interactjs.io/v1.9.20/actions/resize/index.js'
            import 'https://cdn.interactjs.io/v1.9.20/modifiers/index.js'
            import 'https://cdn.interactjs.io/v1.9.20/dev-tools/index.js'
            import interact from 'https://cdn.interactjs.io/v1.9.20/interactjs/index.js'
          
            interact('.item').draggable({
              onmove(event) {
                console.log(event.pageX, event.pageY)
              },
            })
          
            interact('.resizable')
                .resizable({
                    edges: { top: true, left: true, bottom: true, right: true },
                    listeners: {
                    move: function (event) {
                        console.log(event.target)
                        let { x, y } = event.target.dataset

                        x = (parseFloat(x) || 0) + event.deltaRect.left
                        y = (parseFloat(y) || 0) + event.deltaRect.top

                        Object.assign(event.target.style, {
                        width: `${event.rect.width}px`,
                        height: `${event.rect.height}px`,
                        transform: `translate(${x}px, ${y}px)`
                        })

                        Object.assign(event.target.dataset, { x, y })
                    }
                    }
                })
    
                
         </script>     
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
    </body>